[submodule "nRF52_Arduino/hardware/SmartKey/nRF52"]
	path = nRF52_Arduino/hardware/SmartKey/nRF52
	url = git@github.com:NaotoFujihiro/Adafruit_nRF52_Arduino.git
[submodule "nRF52_Bootloader"]
	path = nRF52_Bootloader
	url = git@github.com:NaotoFujihiro/Adafruit_nRF52_Bootloader.git
[submodule "nRF52_Arduino/libraries/Adafruit_SPIFlash"]
	path = nRF52_Arduino/libraries/Adafruit_SPIFlash
	url = git@github.com:adafruit/Adafruit_SPIFlash.git
[submodule "nRF52_Arduino/libraries/Adafruit_NeoPixel"]
	path = nRF52_Arduino/libraries/Adafruit_NeoPixel
	url = git@github.com:adafruit/Adafruit_NeoPixel.git
[submodule "nRF5_SDK_15.3.0_59ac345/external/micro-ecc/micro-ecc"]
	path = nRF5_SDK_15.3.0_59ac345/external/micro-ecc/micro-ecc
	url = git@github.com:kmackay/micro-ecc.git
